/* Flexbox for å plassere overskrift og pil på samme linje */

/*MARGINER*/

/*Margin på det øverste avsnittet */
.project-margin-between-items {
  margin-top: 100px;
}

/*PADDING*/
/*padding på øverste del av seksjonen*/
.padding_headline {
  padding-bottom: 8px;
}

/*Padding mellom de forskjellige tekstdelene*/
.padding_sectioning {
  margin-bottom: 100px;
}

/*Padding under og over hver del 01,02,03 osv.*/
.theme_container {
  padding-top: 200px;
  padding-bottom: 100px;
}

/*BILDER*/
/*padding rundt bilder*/
.picture_padding {
  padding-top: 2px;
  padding-bottom: 80px;
}

.picture_padding_bottom {
  padding-bottom: 70px;
}

/*Padding rundt midstilt tekst*/
.centered_padding {
  padding-bottom: 60px;
}

/*Prosjektets inndeling i to rader nedover*/
.project_container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 20px;
}

/* Top Section */
.top_section {
  background-color: #ecebff;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
  padding: 20px;
}

.top_color_Skumring {
  background-color: #c0cfeb;
}
.top_image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.image_center {
  display: flex; /* Setter opp flexbox */
  justify-content: center; /* Sentrerer horisontalt */
  align-items: center; /* Sentrerer vertikalt */
}

.project_image {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}

.padding_image {
  margin-left: 300px;
  margin-right: 300px;
}

.image_container {
  display: flex; /* Setter opp flexbox */
  justify-content: center; /* Sentrerer bildet horisontalt */
  align-items: center; /* Sentrerer bildet vertikalt, om nødvendig */
}

/*BUTTONS*/
.button_container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.scroll_button {
  padding: 10px 25px;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  border: 1px solid #000000;
  background-color: transparent; /* Gjør bakgrunnen gjennomsiktig */
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.scroll_button:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Svart bakgrunn med 50% opasitet ved hover */
  color: #000000; /* Hvit tekstfarge ved hover */
}

.button {
  padding: 10px 25px;
  font-size: var(--normal-font-size);
  background-color: #4227b9;
  color: #fff;
  border: 1px solid #4227b9;
  border-radius: 25px;
  cursor: pointer;
  transition: #4227b9 0.3s ease;
}

.button_skumring {
  padding: 10px 25px;
  font-size: var(--normal-font-size);
  background-color: #003ca3;
  color: #fff;
  border: 1px solid #003ca3;
  border-radius: 25px;
  cursor: pointer;
  transition: #003ca3 0.3s ease;
}

.button_skumring:hover {
  background-color: #00296f;
}

.button:hover {
  background-color: #2b197e;
}

.heading_with_arrow {
  display: flex; /* Setter opp flexbox */
  justify-content: space-between;
  align-items: center; /* Justerer vertikalt slik at pilen og teksten er på samme linje */
  gap: 10px; /* Legger til mellomrom mellom pilen og teksten */
}

/* Styling av knappen og bildet */
.arrow_button {
  background: none; /* Fjerner bakgrunn på knappen */
  border: none; /* Fjerner kantlinjen på knappen */
  cursor: pointer; /* Setter pekeren til hånd når musen er over knappen */
}

.arrow_icon {
  width: 24px; /* Setter ønsket størrelse på pilen */
  height: 24px;
}

/*Øverste overskrift*/
.project_title {
  font-size: var(--medium-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

/*Forskjellige overskrifter i hver seksjon*/
.level1_headlines {
  font-size: var(--h2-font-size);
  color: #000;
  font-weight: var(--font-semi-bold);
}

.level2_headlines {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin-inline: 20%;
}

.level3_headlines {
  font-size: var(----h3-font-size);
  color: #06009b;
  font-weight: var(--font-medium);
}

.level3_headlines_skumring {
  font-size: var(----h3-font-size);
  color: #003ca3;
  font-weight: var(--font-medium);
}

/*Lilla tekst til små overskrifter*/
.text_very_small {
  font-size: var(--small-font-size);
  color: #06009b;
  font-weight: var(--font-medium);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.text_very_small_skumring {
  font-size: var(--small-font-size);
  color: #003ca3;
  font-weight: var(--font-semi-bold);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*Italic tekst til brukerhistoriene*/
.text_italic {
  font-style: italic;
  font-size: 1.3rem;
  color: #000;
  font-weight: var(--font-normal);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/*Italic tekst under bilder*/
.text_image {
  font-style: italic;
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  max-width: 700px;
}

/*Uthevet tekst brukt i rutenettene*/
.bold_text {
  font-size: var(--normal-font-size);
  color: #000;
  font-weight: var(--font-semi-bold);
  align-items: center;
}

/*Uthevet tekst brukt i rutenettene*/
.bold_text_small {
  font-size: var(--normal-font-size);
  color: #000;
  font-weight: var(--font-semi-bold);
  align-items: center;
}

/*Teksten til appen*/
.body_text {
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

.body_text_medium {
  font-size: var(--regular-font-size);
  margin-bottom: 20px;
  color: #000;
  line-height: 1.5;
}

/*Liten, tykk tekst til overskrift over body-tekst */
.section_text_small_bold {
  font-size: var(--normal-font-size);
  margin-bottom: 2px;
  margin-top: 10px;
  font-weight: var(--font-semi-bold);
}

/*SENTRERING AV TEKST*/
/*sentrer teksten i midten av siden*/
.text_centeralign {
  max-width: 700px; /* Begrenser bredden */
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Horisontal sentrering */
  flex-direction: column; /* Retningen på innholdet */
  align-items: center; /* Midtstiller innhold horisontalt */
  justify-content: center; /* Midtstiller innhold vertikalt */
}

/*LINJER */
/*Linje til overskriftene*/
.horizontal_line {
  border: 0;
  border-top: 2px solid #8e8e8e; /* Tynn svart linje */
  margin-left: 10%;
  margin-right: 10%;
  margin: 20px 0; /* Legger til litt avstand på toppen og bunnen */
}

.line_with_text span {
  font-size: var(--h3-font-size); /* Adjust font size */
  font-weight: var(--font-semi-bold); /* Adjust font weight */
  color: #000; /* Adjust text color */
}

/*tynn linje */
.thin_line {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 80px; /* Adjust spacing around the line */
}

.thin_line::before,
.thin_line::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #000; /* Color and thickness of the line */
  margin: 0 10px; /* Space between the line and the text */
}

.line_with_text span {
  font-size: var(--h3-font-size); /* Adjust font size */
  font-weight: var(--font-semi-bold); /* Adjust font weight */
  color: #000; /* Adjust text color */
}

/*===========BREAKPOINTS ============*/
/*For large devices*/
@media screen and (max-width: 992px) {
}

/*for medium devices*/
@media screen and (max-width: 768px) {
  .project_margin_top_container {
    margin-inline-start: 4%;
    margin-inline-end: 4%;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  /*Margin på sidene til resten av prosjektet */
  .project_margin_container {
    margin-inline-start: 4%;
    margin-inline-end: 4%;
  }

  /*BUTTONS*/
  .button_container {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .scroll_button {
    padding: 5px 20px;
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .scroll_button:hover {
    background-color: #a0a0a0;
  }

  /*TEKST*/
  /*Teksten til appen*/

  .project_title {
    font-size: 2.3rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  .section-text {
    font-size: var(--smaller-font-size);
    margin-bottom: 20px;
    color: #000;
    line-height: 1.5;
  }

  .section-text {
    font-size: var(--smaller-font-size);
    color: #000;
    margin-bottom: 20px;
  }

  .section_text_small_bold {
    font-size: var(--smaller-font-size);
    margin-bottom: 2px;
    margin-top: 10px;
    font-weight: var(--font-semi-bold);
  }

  .bold_text {
    font-size: var(--small-font-size);
    color: #000;
    font-weight: var(--font-semi-bold);
    align-items: center;
  }

  .normal_text {
    font-size: var(--normal-font-size);
    text-align: center;
    color: #000;
    font-weight: var(--font-normal);
    align-items: center;
  }
}

/*MÅ JOBBES VIDERE MED- FINNES DET MINDRE MOBILER I DENNE STR???*/
/*for small devices*/
@media screen and (max-width: 600px) {
  .button_container {
    display: flex;
    justify-content: center;
    gap: 45px;
  }

  .scroll_button {
    padding: 2px 15px;
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    border: 1px solid #000000;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .scroll_button:hover {
    background-color: #a0a0a0;
  }
}
